<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Restaurante</h2>
      <div class="form-group">
      <a routerLink="/restaurante/save" class="btn btn-success">Novo</a>
      </div>
      <form (ngSubmit)="onSubmit()" #contatoForm="ngForm">


        
          <div class="form-group">
             



              <button  class="btn btn-successes"  [disabled]="!contatoForm.form.valid" >Buscar restaurante</button> 
          </div>


            <div class="form-group">




                <input type="text" class="form-control" name="descricao" [(ngModel)]="descricao" placeholder="Favor informa o nome do restaurante" required/>
            </div>
            



      </form>
    

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
        
            <th>Id</th>
            <th>Descricao</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of restaurantes">
            <th> <a class="btn btn-secondary"  [routerLink]="['/restaurante/save', item.id]" >Editar</a>
              <a class="btn btn-secondary"  (click)="deletar(item.id)" >Deletar</a>
            </th>
            
            <td>{{ item.id }}</td>
            <td>{{ item.descricao }}</td>
          </tr>
        </tbody>

      </table>
    </div> 
  </div>
</div>